.SearchMovieItem {
  width: 100%;
  display: flex;
  align-items: center;
  padding: .5rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.SearchMovieItem:hover {
    background: rgba(0,0,0, .3);
}

.SearchMovieItem img {
  width: 4rem;
  height: 5rem;
  margin-right: 1rem;
}

.SearchMovieItem p {
  color: #fff;
  font-size: 1.6rem;
  text-align: left;
}
